body {
    font-family: Arial, sans-serif;
    background-color: #148275;
  }

  .container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(212, 206, 206, 0.2), 0 6px 20px 0 rgba(188, 49, 49, 0.19);
    padding: 40px;
  }
  
  h1 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #3f51b5;
  }
  
  .week-selector-container {
    margin-bottom: 40px;
  }
  
  #week-selector {
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #note-input-container {
    margin-bottom: 80px;
    border:solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3f51b5;
    
  }
  
  #note-input 
   {
    width: 80%;
    padding: 10px;
    font-size: 1.5rem;
    resize: none;
    border: #030b0b;
    border-radius: 5px;
    color: #3f51b5;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    margin: 3px 0;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    width: 20%;
  }
  